<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!-- 
Suite de Automatización Funcional
Desarrollado por: Roberto Rivas Lopez
Curso: Automatización de Pruebas
-->

<suite name="Suite-Automatizacion-Funcional" verbose="1" parallel="none" thread-count="1">
    
    <!-- Configuración global de la suite -->
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    <parameter name="timeout" value="10"/>
    
    <!-- Listeners para reportes y evidencias -->
    <listeners>
        <listener class-name="org.testng.reporters.EmailableReporter"/>
        <listener class-name="org.testng.reporters.JUnitReportReporter"/>
    </listeners>
    
    <!-- Suite completa con todas las pruebas -->
    <test name="Pruebas-Completas" preserve-order="true">
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro">
                <methods>
                    <include name="registroExitosoConDatosCompletos"/>
                    <include name="registroExitosoConDatosMinimos"/>
                    <include name="registroExitosoConMultiplesDatos"/>
                    <include name="validacionCamposObligatoriosVacios"/>
                    <include name="validacionEmailInvalido"/>
                    <include name="validacionPasswordsNoCoinciden"/>
                    <include name="validacionPasswordDemasiadoCorta"/>
                    <include name="validacionSinAceptarTerminos"/>
                    <include name="funcionalidadLimpiarFormulario"/>
                    <include name="navegacionALogin"/>
                </methods>
            </class>
            
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin">
                <methods>
                    <include name="loginExitosoConCredencialesValidas"/>
                    <include name="loginExitosoConMultiplesUsuarios"/>
                    <include name="loginExitosoConRecordarCredenciales"/>
                    <include name="loginFallidoConCredencialesInvalidas"/>
                    <include name="loginFallidoConMultiplesCredencialesInvalidas"/>
                    <include name="loginFallidoConCamposVacios"/>
                    <include name="loginFallidoConPasswordVacio"/>
                    <include name="loginFallidoConEmailVacio"/>
                    <include name="intentosMultiplesHastaBloqueoCuenta"/>
                    <include name="funcionalidadLimpiarCampos"/>
                    <include name="navegacionARegistro"/>
                    <include name="navegacionARecuperarPassword"/>
                    <include name="flujoCompletoLoginYLogout"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>

<!-- Suite de Smoke Tests (Pruebas críticas) -->
<suite name="Suite-Smoke-Tests" verbose="1" parallel="none">
    
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    
    <test name="Smoke-Tests" preserve-order="true">
        <groups>
            <run>
                <include name="smoke"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro"/>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin"/>
        </classes>
    </test>
    
</suite>

<!-- Suite de Pruebas Positivas -->
<suite name="Suite-Pruebas-Positivas" verbose="1" parallel="none">
    
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    
    <test name="Pruebas-Positivas" preserve-order="true">
        <groups>
            <run>
                <include name="positivo"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro"/>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin"/>
        </classes>
    </test>
    
</suite>

<!-- Suite de Pruebas Negativas -->
<suite name="Suite-Pruebas-Negativas" verbose="1" parallel="none">
    
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    
    <test name="Pruebas-Negativas" preserve-order="true">
        <groups>
            <run>
                <include name="negativo"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro"/>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin"/>
        </classes>
    </test>
    
</suite>

<!-- Suite de Pruebas de Validación -->
<suite name="Suite-Validaciones" verbose="1" parallel="none">
    
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    
    <test name="Pruebas-Validacion" preserve-order="true">
        <groups>
            <run>
                <include name="validacion"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro"/>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin"/>
        </classes>
    </test>
    
</suite>

<!-- Suite de Pruebas Data-Driven -->
<suite name="Suite-Data-Driven" verbose="1" parallel="none">
    
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    
    <test name="Pruebas-Data-Driven" preserve-order="true">
        <groups>
            <run>
                <include name="datadriven"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro">
                <methods>
                    <include name="registroExitosoConMultiplesDatos"/>
                </methods>
            </class>
            
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin">
                <methods>
                    <include name="loginExitosoConMultiplesUsuarios"/>
                    <include name="loginFallidoConMultiplesCredencialesInvalidas"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>

<!-- Suite de Pruebas Cross-Browser -->
<suite name="Suite-Cross-Browser" verbose="1" parallel="tests" thread-count="3">
    
    <test name="Chrome-Tests">
        <parameter name="navegador" value="chrome"/>
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro">
                <methods>
                    <include name="registroExitosoConDatosCompletos"/>
                </methods>
            </class>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin">
                <methods>
                    <include name="loginExitosoConCredencialesValidas"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Firefox-Tests">
        <parameter name="navegador" value="firefox"/>
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro">
                <methods>
                    <include name="registroExitosoConDatosCompletos"/>
                </methods>
            </class>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin">
                <methods>
                    <include name="loginExitosoConCredencialesValidas"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Edge-Tests">
        <parameter name="navegador" value="edge"/>
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro">
                <methods>
                    <include name="registroExitosoConDatosCompletos"/>
                </methods>
            </class>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin">
                <methods>
                    <include name="loginExitosoConCredencialesValidas"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>

<!-- Suite de Pruebas de Regresión -->
<suite name="Suite-Regresion" verbose="1" parallel="none">
    
    <parameter name="navegador" value="chrome"/>
    <parameter name="entorno" value="desarrollo"/>
    
    <test name="Regresion-Registro" preserve-order="true">
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasRegistro">
                <methods>
                    <include name="registroExitosoConDatosCompletos"/>
                    <include name="validacionCamposObligatoriosVacios"/>
                    <include name="validacionEmailInvalido"/>
                    <include name="validacionPasswordsNoCoinciden"/>
                </methods>
            </class>
        </classes>
    </test>
    
    <test name="Regresion-Login" preserve-order="true">
        <classes>
            <class name="com.robertorivas.automatizacion.pruebas.PruebasLogin">
                <methods>
                    <include name="loginExitosoConCredencialesValidas"/>
                    <include name="loginFallidoConCredencialesInvalidas"/>
                    <include name="loginFallidoConCamposVacios"/>
                    <include name="flujoCompletoLoginYLogout"/>
                </methods>
            </class>
        </classes>
    </test>
    
</suite>