# ===============================================
# ARCHIVO: src/test/resources/testng.xml
// ===============================================
<?xml version="1.0" encoding="UTF-8"?>
<suite name="SuiteAutomatizacionFuncional" parallel="methods" thread-count="1">
    
    <parameter name="navegador" value="CHROME"/>
    <parameter name="ambiente" value="test"/>
    
    <test name="PruebasRegistro">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>
        
        <classes>
            <class name="com.automatizacion.proyecto.pruebas.PruebasRegistro"/>
        </classes>
    </test>
    
</suite>